<nav class="nav">
    <div>
        <a class="nav_logo" routerLink="/app/home">
            <img class="nav_logo-icon" src="assets/img/favicon-72x72.png" alt="Ciberbank" height="40" width="40" />
            <span class="nav_logo-text">Ciber</span>
            <span class="nav_logo-text">Bank</span>
        </a>
        <div class="nav_toogle" id="nav-toggle" (click)="mostrarMenu()">
            <i class="bx bxs-chevron-right"></i>
        </div>
        <ul class="nav_list">
            <a href="#" class="nav_link" routerLinkActive="active" [routerLink]="['/app/home']">
                <i class="nav_icon bx bx-grid-alt"></i>
                <span class="nav_text">Home</span>
            </a>
            <hr>
            <a href="#" class="nav_link" routerLinkActive="active" [routerLink]="['/app/transfer']">
                <i class='nav_icon bx bx-dollar-circle'></i>
                <span class="nav_text">Transferencias</span>
            </a>
            <!-- <a href="#" class="nav_link" routerLinkActive="active" [routerLink]="['/app/tarjeta']">
                <i class='nav_icon bx bx-credit-card'></i>
                <span class="nav_text">Tarjetas</span>
            </a>
            <a href="#" class="nav_link" routerLinkActive="active" [routerLink]="['/app/reporte']">
                <i class='nav_icon bx bx-file'></i>
                <span class="nav_text">Reporte</span>
            </a> -->
        </ul>
    </div>
    <div>
        <a href="#" class="nav_link" routerLinkActive="active" [routerLink]="['/app/config']">
            <i class='nav_icon bx bx-cog'></i>
            <span class="nav_text">Configuración</span>
        </a>
        <hr>
        <div class="user">
            <img src="assets/img/avatar.svg" alt="Nombre de usuario" height="40" width="40">
            <div class="user-info">
                <p>{{ userName | slice:0:15 }}</p>
                <small class="email">{{ userEmail | slice:0:18 }}</small>
            </div>
            <!--<i class='logout bx bx-log-out' ></i>-->
            <i (click)="logout()" class='logout bx bx-power-off'></i>
        </div>
    </div>
</nav>